{# {% extends '@EasyAdmin/layout.html.twig' %} #}

{% block body_content %}
    <h1>{{ 'Profile'|trans }}</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-primary">{{ 'Save'|trans }}</button>
    {{ form_end(form) }}
{% endblock %}