{% extends 'events.html.twig' %}
{% block body %}
    <h1>Event Index</h1>

    <div class="row">
        {% for event in events %}
            <div class="col-md-4">
                <div class="card">
                    <img src="{{ asset('uploads/event_images/' ~ event.image) }}" class="card-img-top" alt="Event Image">
                    <div class="card-body">
                        <h5 class="card-title">{{ event.nom }}</h5>
                        <p class="card-text">{{ event.datedebut ? event.datedebut|date('Y-m-d H:i:s') : '' }} - {{ event.datefin ? event.datefin|date('Y-m-d H:i:s') : '' }}</p>
                        <a href="{{ path('app_event_show', {'id': event.id}) }}" class="btn btn-primary">Show</a>
                        <a href="{{ path('app_event_edit', {'id': event.id}) }}" class="btn btn-secondary">Edit</a>
                    </div>
                </div>
            </div>
        {% else %}
            <p>No records found.</p>
        {% endfor %}
    </div>

    <a href="{{ path('app_event_new') }}" class="btn btn-success">Create New</a>
{% endblock %}
