{# {% extends 'base.html.twig' %} #}

{# {% block title %}Register{% endblock %} #}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
	<!DOCTYPE html>
<html>
<head>
<title>GreenIT</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Custom Theme files -->
<link rel="stylesheet" type="text/css" href="{{ asset ("assets/css/style.css") }}">
<!-- //Custom Theme files -->

<link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">

</head>
<body>

<div class="main-w3layouts wrapper">
		<h1>SignUp</h1>
		<h1><nav class="nav font-weight-500 mb-1 mb-sm-2 mb-lg-5 px-sm-2 px-lg-5"> 
<a class="nav-link ac" href="/register">Careers</a> 
<a class="nav-link ac" href="/registerClient">Clients</a>  </nav></h1>

<div class="main-agileinfo">

<div class="agileits-top"> 
  

{# <a class="nav-link" href="#">Admission</a> </nav> #}

<div class="container-fluid">
    {# <div class="row justify-content-center">
        <div class="col-12 col-sm-10 col-md-12 col-lg-11 col-xl-10">
            <div class="card d-flex mx-auto my-5">
                <div class="row">
                    <div class="col-md-5 col-sm-12 col-xs-12 c1 p-5">
                        <div class="row mb-5 m-3"> <img src="https://i.imgur.com/pFfTOwy.jpg" width="70vw" height="55vh" alt=""> </div> <img src="https://i.imgur.com/kdE7GKw.jpg" width="120vw" height="210vh" class="mx-auto d-flex" alt="Teacher">
                        <div class="row justify-content-center">
                            <div class="w-75 mx-md-5 mx-1 mx-sm-2 mb-5 mt-4 px-sm-5 px-md-2 px-xl-1 px-2">
                                <h1 class="wlcm">Welcome to your blackboard</h1> <span class="sp1"> <span class="px-3 bg-danger rounded-pill"></span> <span class="ml-2 px-1 rounded-circle"></span> <span class="ml-2 px-1 rounded-circle"></span> </span>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div> #}

	 {{ form_start(registrationForm,{'attr':{'novalidate':'novalidate'}})}}
                	<div class="form-group">
                        {{ form_label(registrationForm.nom_user,"Your Name",{'label_attr': {'style': 'color: white;'}}) }}
                        {{ form_widget(registrationForm.nom_user,{'attr':{'class':'text'}})}}
						<div class="alert alert-danger">
                            {{ form_errors(registrationForm.nom_user) }}
						</div>
					</div>
                              {# {{ form_row(registrationForm.email_user) }} #}
                    <div class="form-group"> 
                        {{ form_label(registrationForm.email_user,"Your Email",{'label_attr': {'style': 'color: white;'}}) }}
                        {{ form_widget(registrationForm.email_user,{'attr':{'class':'text'}})}}
						<div class="alert alert-danger">
                            {{ form_errors(registrationForm.email_user) }}
						</div>
					</div>
					<div class="form-group"> 
                        {{ form_label(registrationForm.adresse_user,"Your Adresse",{'label_attr': {'style': 'color: white;'}}) }}
                        {{ form_widget(registrationForm.adresse_user,{'attr':{'class':'text'}})}}
						<div class="alert alert-danger">
                            {{ form_errors(registrationForm.adresse_user) }}
						</div>
					</div>
					<div class="form-group">
						{{ form_label(registrationForm.speciality,"Your specialite",{'label_attr': {'style': 'color: white;'}}) }}
                        {{ form_widget(registrationForm.speciality)}}
						<div class="alert alert-danger">
                            {{ form_errors(registrationForm.speciality) }}
						</div>
					</div>
                              {# {{ form_row(registrationForm.plainPassword, {
                                     label: 'Password'
                                 }) }}  #}
					<div class="form-group"> 
                        {{ form_label(registrationForm.plainPassword,"Your password",{'label_attr': {'style': 'color: white;'}}) }}
                        {{ form_widget(registrationForm.plainPassword,{'attr':{'class':'text'}})}}
						<div class="alert alert-danger">
                        	{{ form_errors(registrationForm.plainPassword) }}
						</div>
					</div>

					        <input type="submit" value="SIGNUP">
	{{ form_end(registrationForm) }}

</div> 

	  
    </div>
  </div>
</div> 
   
   							 {# {{ form_row(registrationForm.agreeTerms) }} #}
</div>
</div>   
</div>
{% endblock %}
  
<ul class="colorlib-bubbles">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
</ul>
