{% extends 'backComp.html.twig' %}

{% block title %}Category index{% endblock %}

{% block main %}
    <h1>Category index</h1>

   <table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Discount Rate</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.namecategory }}</td>
                <td>{{ category.tauxReduction }}</td>
                <td>
                    <a href="{{ path('app_category_show', {'id': category.id}) }}">Show</a>
                    <a href="{{ path('app_category_edit', {'id': category.id}) }}">Edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">No records found</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{{ path('app_category_new') }}">Create New</a>

{% endblock %}
