{{ form_start(form,{'attr':{'novalidate': 'novalidate'}}) }}
{{form_errors(form)}}

    {{ form_widget(form) }}

    <button type="submit" class="btn btn-success"><i class="bi bi-check-circle-fill"></i> Enregistrer</button>

    {# <button class="btn">{{ button_label|default('Save') }}</button> #}
{{ form_end(form) }}
